Repository MPEGGroup/FileFormatConformance, pull requests merged in 2024-11, with the labels that each got.

#106 Deprecated boxes support
  data/schemas/standard.schema.json
  data/standard_features/14496-12/boxes.json
  data/standard_features/14496-15/boxes.json
  src/construct/boxes.py
Labels: enhancement

#73 adding compressed boxes from m56755
  data/file_features/under_consideration/compressed_boxes/comp_all_otyp.json
  data/file_features/under_consideration/compressed_boxes/comp_all_otyp.mp4
  data/file_features/under_consideration/compressed_boxes/comp_all_otyp_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_nobrand.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_nobrand.mp4
  data/file_features/under_consideration/compressed_boxes/comp_moof_nobrand_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_otyp.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_otyp.mp4
  data/file_features/under_consideration/compressed_boxes/comp_moof_otyp_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_sidx_otyp.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_sidx_otyp.mp4
  data/file_features/under_consideration/compressed_boxes/comp_moof_sidx_otyp_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_sidx_ssix_otyp.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_sidx_ssix_otyp.mp4
  data/file_features/under_consideration/compressed_boxes/comp_moof_sidx_ssix_otyp_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moov_isoc.json
  data/file_features/under_consideration/compressed_boxes/comp_moov_isoc.mp4
  data/file_features/under_consideration/compressed_boxes/comp_moov_isoc_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moov_otyp.json
  data/file_features/under_consideration/compressed_boxes/comp_moov_otyp.mp4
  data/file_features/under_consideration/compressed_boxes/comp_moov_otyp_gpac.json
Labels: conformance-file, spec published, ISO-deliverable

#144 Preserve Compressed Format of Dumps
  data/file_features/under_consideration/compressed_boxes/comp_all_otyp_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_nobrand_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_otyp_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_sidx_otyp_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moof_sidx_ssix_otyp_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moov_isoc_gpac.json
  data/file_features/under_consideration/compressed_boxes/comp_moov_otyp_gpac.json
  src/feature_extractor/file_features.py
Labels: enhancement

#82 adding mebx sample file from m59330 contributed by Apple
  data/file_features/under_consideration/mebx/test_mebx_me4c.json
  data/file_features/under_consideration/mebx/test_mebx_me4c.mp4
  data/file_features/under_consideration/mebx/test_mebx_me4c_gpac.ext.json
  data/file_features/under_consideration/mebx/test_mebx_me4c_gpac.json
Labels: conformance-file, spec published, cross checked, ISO-deliverable

#78 add VVC files from Nokia based on m56817,m57436,m58142
  data/file_features/under_consideration/vvc/vvc_basic_track.json
  data/file_features/under_consideration/vvc/vvc_basic_track.mp4
  data/file_features/under_consideration/vvc/vvc_basic_track_gpac.json
  data/file_features/under_consideration/vvc/vvc_mixed_nal_subpicture_tracks.json
  data/file_features/under_consideration/vvc/vvc_mixed_nal_subpicture_tracks.mp4
  data/file_features/under_consideration/vvc/vvc_mixed_nal_subpicture_tracks_gpac.json
  data/file_features/under_consideration/vvc/vvc_subpicture_tracks.json
  data/file_features/under_consideration/vvc/vvc_subpicture_tracks.mp4
  data/file_features/under_consideration/vvc/vvc_subpicture_tracks_gpac.json
  data/file_features/under_consideration/vvc/vvc_subpicture_tracks_spor_ordered.json
  data/file_features/under_consideration/vvc/vvc_subpicture_tracks_spor_ordered.mp4
  data/file_features/under_consideration/vvc/vvc_subpicture_tracks_spor_ordered_gpac.json
  data/file_features/under_consideration/vvc/vvc_substitute_subpicture_single_sample_track.json
  data/file_features/under_consideration/vvc/vvc_substitute_subpicture_single_sample_track.mp4
  data/file_features/under_consideration/vvc/vvc_substitute_subpicture_single_sample_track_gpac.json
  data/file_features/under_consideration/vvc/vvc_substitute_subpictures_all_frames.json
  data/file_features/under_consideration/vvc/vvc_substitute_subpictures_all_frames.mp4
  data/file_features/under_consideration/vvc/vvc_substitute_subpictures_all_frames_gpac.json
  data/file_features/under_consideration/vvc/vvc_substitute_subpictures_single_sample_track.json
  data/file_features/under_consideration/vvc/vvc_substitute_subpictures_single_sample_track.mp4
  data/file_features/under_consideration/vvc/vvc_substitute_subpictures_single_sample_track_gpac.json
  data/file_features/under_consideration/vvc/vvc_substitute_subpictures_track.json
  data/file_features/under_consideration/vvc/vvc_substitute_subpictures_track.mp4
  data/file_features/under_consideration/vvc/vvc_substitute_subpictures_track_gpac.json
  data/standard_features/14496-15/boxes.json
  data/standard_features/14496-15/track_groups.json
Labels: conformance-file, spec published, ISO-deliverable

#113 add files from m64279. isobmff/nalu updates. Telecom Paris / Canon
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_default_desc.json
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_default_desc.mp4
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_default_desc_frag.json
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_default_desc_frag.mp4
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_default_desc_frag_gpac.json
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_default_desc_gpac.json
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_static_group.json
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_static_group.mp4
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_static_group_frag.json
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_static_group_frag.mp4
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_static_group_frag_gpac.json
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_static_group_gpac.json
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_static_mapping.json
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_static_mapping.mp4
  data/file_features/under_consideration/isobmff_nalu/isobmff_updates/sample_group_static_mapping_gpac.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hev1_hev2_extractors_v2.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hev1_hev2_extractors_v2.mp4
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hev1_hev2_extractors_v2_gpac.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hev1_hev2_implicit_v2.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hev1_hev2_implicit_v2.mp4
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hev1_hev2_implicit_v2_gpac.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hvc1_hvc2_extractors_v2.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hvc1_hvc2_extractors_v2.mp4
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hvc1_hvc2_extractors_v2_gpac.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hvc1_hvc2_implicit_v2.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hvc1_hvc2_implicit_v2.mp4
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_hvc1_hvc2_implicit_v2_gpac.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_tiles_multiple_tracks_empty_base_v2.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_tiles_multiple_tracks_empty_base_v2.mp4
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_tiles_multiple_tracks_empty_base_v2_gpac.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_tiles_multiple_tracks_v2.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_tiles_multiple_tracks_v2.mp4
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_tiles_multiple_tracks_v2_gpac.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_tiles_single_track_trif_full_picture_v2.json
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_tiles_single_track_trif_full_picture_v2.mp4
  data/file_features/under_consideration/isobmff_nalu/nalu_updates/hevc_tiles_single_track_trif_full_picture_v2_gpac.json
  data/standard_features/14496-12/boxes.json
Labels: conformance-file, spec published, ISO-deliverable

#81 Event message track sample files m59640.
  data/file_features/under_consideration/event_message/IF1_V2_captures/audio-und-128000.isma
  data/file_features/under_consideration/event_message/IF1_V2_captures/audio-und-128000.json
  data/file_features/under_consideration/event_message/IF1_V2_captures/audio-und-128000_gpac.json
  data/file_features/under_consideration/event_message/IF1_V2_captures/data-2-Data3_3.json
  data/file_features/under_consideration/event_message/IF1_V2_captures/data-2-Data3_3.mp4
  data/file_features/under_consideration/event_message/IF1_V2_captures/data-2-Data3_3_gpac.json
  data/file_features/under_consideration/event_message/IF1_V2_captures/video-720x480-500000.ismv
  data/file_features/under_consideration/event_message/IF1_V2_captures/video-720x480-500000.json
  data/file_features/under_consideration/event_message/IF1_V2_captures/video-720x480-500000_gpac.json
  data/file_features/under_consideration/event_message/avail_overlap.mpd
  data/file_features/under_consideration/event_message/out_avail_track.cmfm
  data/file_features/under_consideration/event_message/out_avail_track.json
  data/file_features/under_consideration/event_message/out_avail_track.mpd
  data/file_features/under_consideration/event_message/out_avail_track_gpac.json
  data/file_features/under_consideration/event_message/out_overlap.cmfm
  data/file_features/under_consideration/event_message/out_overlap.json
  data/file_features/under_consideration/event_message/out_overlap_gpac.json
  data/standard_features/14496-12/boxes.json
Labels: conformance-file, spec published, cross checked, ISO-deliverable
